{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://texttospeech.googleapis.com/"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Synthesizes natural-sounding speech by applying powerful neural network models.",
        "title": "Cloud Text-to-Speech",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://texttospeech.googleapis.com/$discovery/rest?version=v1",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "texttospeech"
    },
    "externalDocs": {
        "url": "https://cloud.google.com/text-to-speech/"
    },
    "tags": [
        {
            "name": "text"
        },
        {
            "name": "voices"
        }
    ],
    "paths": {
        "/v1/text:synthesize": {
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Synthesizes speech synchronously: receive results after all text input\nhas been processed.",
                "operationId": "texttospeech.text.synthesize",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The message returned to the client by the `SynthesizeSpeech` method.",
                                    "properties": {
                                        "audioContent": {
                                            "description": "The audio data bytes encoded as specified in the request, including the\nheader (For LINEAR16 audio, we include the WAV header). Note: as\nwith all bytes fields, protobuffers use a pure binary representation,\nwhereas JSON representations use base64.",
                                            "format": "byte",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "text"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The top-level message sent by the client for the `SynthesizeSpeech` method.",
                                "properties": {
                                    "audioConfig": {
                                        "description": "Required. The configuration of the synthesized audio.",
                                        "properties": {
                                            "audioEncoding": {
                                                "description": "Required. The format of the requested audio byte stream.",
                                                "enum": [
                                                    "AUDIO_ENCODING_UNSPECIFIED",
                                                    "LINEAR16",
                                                    "MP3",
                                                    "OGG_OPUS"
                                                ],
                                                "type": "string"
                                            },
                                            "effectsProfileId": {
                                                "description": "An identifier which selects 'audio effects' profiles that are applied on\n(post synthesized) text to speech.\nEffects are applied on top of each other in the order they are given.\nSee\n\n[audio-profiles](https:\n//cloud.google.com/text-to-speech/docs/audio-profiles)\nfor current supported profile ids.",
                                                "items": {
                                                    "type": "string"
                                                },
                                                "type": "array"
                                            },
                                            "pitch": {
                                                "description": "Optional speaking pitch, in the range [-20.0, 20.0]. 20 means increase 20\nsemitones from the original pitch. -20 means decrease 20 semitones from the\noriginal pitch.",
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "sampleRateHertz": {
                                                "description": "The synthesis sample rate (in hertz) for this audio. Optional.  If this is\ndifferent from the voice's natural sample rate, then the synthesizer will\nhonor this request by converting to the desired sample rate (which might\nresult in worse audio quality), unless the specified sample rate is not\nsupported for the encoding chosen, in which case it will fail the request\nand return google.rpc.Code.INVALID_ARGUMENT.",
                                                "format": "int32",
                                                "type": "integer"
                                            },
                                            "speakingRate": {
                                                "description": "Optional speaking rate/speed, in the range [0.25, 4.0]. 1.0 is the normal\nnative speed supported by the specific voice. 2.0 is twice as fast, and\n0.5 is half as fast. If unset(0.0), defaults to the native 1.0 speed. Any\nother values < 0.25 or > 4.0 will return an error.",
                                                "format": "double",
                                                "type": "number"
                                            },
                                            "volumeGainDb": {
                                                "description": "Optional volume gain (in dB) of the normal native volume supported by the\nspecific voice, in the range [-96.0, 16.0]. If unset, or set to a value of\n0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB)\nwill play at approximately half the amplitude of the normal native signal\namplitude. A value of +6.0 (dB) will play at approximately twice the\namplitude of the normal native signal amplitude. Strongly recommend not to\nexceed +10 (dB) as there's usually no effective increase in loudness for\nany value greater than that.",
                                                "format": "double",
                                                "type": "number"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "input": {
                                        "description": "Required. The Synthesizer requires either plain text or SSML as input.",
                                        "properties": {
                                            "ssml": {
                                                "description": "The SSML document to be synthesized. The SSML document must be valid\nand well-formed. Otherwise the RPC will fail and return\ngoogle.rpc.Code.INVALID_ARGUMENT. For more information, see\n[SSML](/speech/text-to-speech/docs/ssml).",
                                                "type": "string"
                                            },
                                            "text": {
                                                "description": "The raw text to be synthesized.",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "voice": {
                                        "description": "Required. The desired voice of the synthesized audio.",
                                        "properties": {
                                            "languageCode": {
                                                "description": "The language (and optionally also the region) of the voice expressed as a\n[BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag, e.g.\n\"en-US\". Required. This should not include a script tag (e.g. use\n\"cmn-cn\" rather than \"cmn-Hant-cn\"), because the script will be inferred\nfrom the input provided in the SynthesisInput.  The TTS service\nwill use this parameter to help choose an appropriate voice.  Note that\nthe TTS service may choose a voice with a slightly different language code\nthan the one selected; it may substitute a different region\n(e.g. using en-US rather than en-CA if there isn't a Canadian voice\navailable), or even a different language, e.g. using \"nb\" (Norwegian\nBokmal) instead of \"no\" (Norwegian)\".",
                                                "type": "string"
                                            },
                                            "name": {
                                                "description": "The name of the voice. Optional; if not set, the service will choose a\nvoice based on the other parameters such as language_code and gender.",
                                                "type": "string"
                                            },
                                            "ssmlGender": {
                                                "description": "The preferred gender of the voice. Optional; if not set, the service will\nchoose a voice based on the other parameters such as language_code and\nname. Note that this is only a preference, not requirement; if a\nvoice of the appropriate gender is not available, the synthesizer should\nsubstitute a voice with a different gender rather than failing the request.",
                                                "enum": [
                                                    "SSML_VOICE_GENDER_UNSPECIFIED",
                                                    "MALE",
                                                    "FEMALE",
                                                    "NEUTRAL"
                                                ],
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/voices": {
            "get": {
                "description": "Returns a list of Voice supported for synthesis.",
                "operationId": "texttospeech.voices.list",
                "parameters": [
                    {
                        "description": "Optional (but recommended)\n[BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag. If\nspecified, the ListVoices call will only return voices that can be used to\nsynthesize this language_code. E.g. when specifying \"en-NZ\", you will get\nsupported \"en-*\" voices; when specifying \"no\", you will get supported\n\"no-*\" (Norwegian) and \"nb-*\" (Norwegian Bokmal) voices; specifying \"zh\"\nwill also get supported \"cmn-*\" voices; specifying \"zh-hk\" will also get\nsupported \"yue-*\" voices.",
                        "in": "query",
                        "name": "languageCode",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The message returned to the client by the `ListVoices` method.",
                                    "properties": {
                                        "voices": {
                                            "description": "The list of voices.",
                                            "items": {
                                                "description": "Description of a voice supported by the TTS service.",
                                                "properties": {
                                                    "languageCodes": {
                                                        "description": "The languages that this voice supports, expressed as\n[BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tags (e.g.\n\"en-US\", \"es-419\", \"cmn-tw\").",
                                                        "items": {
                                                            "type": "string"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "name": {
                                                        "description": "The name of this voice.  Each distinct voice has a unique name.",
                                                        "type": "string"
                                                    },
                                                    "naturalSampleRateHertz": {
                                                        "description": "The natural sample rate (in hertz) for this voice.",
                                                        "format": "int32",
                                                        "type": "integer"
                                                    },
                                                    "ssmlGender": {
                                                        "description": "The gender of this voice.",
                                                        "enum": [
                                                            "SSML_VOICE_GENDER_UNSPECIFIED",
                                                            "MALE",
                                                            "FEMALE",
                                                            "NEUTRAL"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "voices"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        }
    },
    "components": {
        "schemas": {
            "AudioConfig": {
                "description": "Description of audio data to be synthesized.",
                "properties": {
                    "audioEncoding": {
                        "description": "Required. The format of the requested audio byte stream.",
                        "enum": [
                            "AUDIO_ENCODING_UNSPECIFIED",
                            "LINEAR16",
                            "MP3",
                            "OGG_OPUS"
                        ],
                        "type": "string"
                    },
                    "effectsProfileId": {
                        "description": "An identifier which selects 'audio effects' profiles that are applied on\n(post synthesized) text to speech.\nEffects are applied on top of each other in the order they are given.\nSee\n\n[audio-profiles](https:\n//cloud.google.com/text-to-speech/docs/audio-profiles)\nfor current supported profile ids.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "pitch": {
                        "description": "Optional speaking pitch, in the range [-20.0, 20.0]. 20 means increase 20\nsemitones from the original pitch. -20 means decrease 20 semitones from the\noriginal pitch.",
                        "format": "double",
                        "type": "number"
                    },
                    "sampleRateHertz": {
                        "description": "The synthesis sample rate (in hertz) for this audio. Optional.  If this is\ndifferent from the voice's natural sample rate, then the synthesizer will\nhonor this request by converting to the desired sample rate (which might\nresult in worse audio quality), unless the specified sample rate is not\nsupported for the encoding chosen, in which case it will fail the request\nand return google.rpc.Code.INVALID_ARGUMENT.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "speakingRate": {
                        "description": "Optional speaking rate/speed, in the range [0.25, 4.0]. 1.0 is the normal\nnative speed supported by the specific voice. 2.0 is twice as fast, and\n0.5 is half as fast. If unset(0.0), defaults to the native 1.0 speed. Any\nother values < 0.25 or > 4.0 will return an error.",
                        "format": "double",
                        "type": "number"
                    },
                    "volumeGainDb": {
                        "description": "Optional volume gain (in dB) of the normal native volume supported by the\nspecific voice, in the range [-96.0, 16.0]. If unset, or set to a value of\n0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB)\nwill play at approximately half the amplitude of the normal native signal\namplitude. A value of +6.0 (dB) will play at approximately twice the\namplitude of the normal native signal amplitude. Strongly recommend not to\nexceed +10 (dB) as there's usually no effective increase in loudness for\nany value greater than that.",
                        "format": "double",
                        "type": "number"
                    }
                },
                "type": "object"
            },
            "ListVoicesResponse": {
                "description": "The message returned to the client by the `ListVoices` method.",
                "properties": {
                    "voices": {
                        "description": "The list of voices.",
                        "items": {
                            "description": "Description of a voice supported by the TTS service.",
                            "properties": {
                                "languageCodes": {
                                    "description": "The languages that this voice supports, expressed as\n[BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tags (e.g.\n\"en-US\", \"es-419\", \"cmn-tw\").",
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                },
                                "name": {
                                    "description": "The name of this voice.  Each distinct voice has a unique name.",
                                    "type": "string"
                                },
                                "naturalSampleRateHertz": {
                                    "description": "The natural sample rate (in hertz) for this voice.",
                                    "format": "int32",
                                    "type": "integer"
                                },
                                "ssmlGender": {
                                    "description": "The gender of this voice.",
                                    "enum": [
                                        "SSML_VOICE_GENDER_UNSPECIFIED",
                                        "MALE",
                                        "FEMALE",
                                        "NEUTRAL"
                                    ],
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "SynthesisInput": {
                "description": "Contains text input to be synthesized. Either `text` or `ssml` must be\nsupplied. Supplying both or neither returns\ngoogle.rpc.Code.INVALID_ARGUMENT. The input size is limited to 5000\ncharacters.",
                "properties": {
                    "ssml": {
                        "description": "The SSML document to be synthesized. The SSML document must be valid\nand well-formed. Otherwise the RPC will fail and return\ngoogle.rpc.Code.INVALID_ARGUMENT. For more information, see\n[SSML](/speech/text-to-speech/docs/ssml).",
                        "type": "string"
                    },
                    "text": {
                        "description": "The raw text to be synthesized.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "SynthesizeSpeechRequest": {
                "description": "The top-level message sent by the client for the `SynthesizeSpeech` method.",
                "properties": {
                    "audioConfig": {
                        "description": "Required. The configuration of the synthesized audio.",
                        "properties": {
                            "audioEncoding": {
                                "description": "Required. The format of the requested audio byte stream.",
                                "enum": [
                                    "AUDIO_ENCODING_UNSPECIFIED",
                                    "LINEAR16",
                                    "MP3",
                                    "OGG_OPUS"
                                ],
                                "type": "string"
                            },
                            "effectsProfileId": {
                                "description": "An identifier which selects 'audio effects' profiles that are applied on\n(post synthesized) text to speech.\nEffects are applied on top of each other in the order they are given.\nSee\n\n[audio-profiles](https:\n//cloud.google.com/text-to-speech/docs/audio-profiles)\nfor current supported profile ids.",
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "pitch": {
                                "description": "Optional speaking pitch, in the range [-20.0, 20.0]. 20 means increase 20\nsemitones from the original pitch. -20 means decrease 20 semitones from the\noriginal pitch.",
                                "format": "double",
                                "type": "number"
                            },
                            "sampleRateHertz": {
                                "description": "The synthesis sample rate (in hertz) for this audio. Optional.  If this is\ndifferent from the voice's natural sample rate, then the synthesizer will\nhonor this request by converting to the desired sample rate (which might\nresult in worse audio quality), unless the specified sample rate is not\nsupported for the encoding chosen, in which case it will fail the request\nand return google.rpc.Code.INVALID_ARGUMENT.",
                                "format": "int32",
                                "type": "integer"
                            },
                            "speakingRate": {
                                "description": "Optional speaking rate/speed, in the range [0.25, 4.0]. 1.0 is the normal\nnative speed supported by the specific voice. 2.0 is twice as fast, and\n0.5 is half as fast. If unset(0.0), defaults to the native 1.0 speed. Any\nother values < 0.25 or > 4.0 will return an error.",
                                "format": "double",
                                "type": "number"
                            },
                            "volumeGainDb": {
                                "description": "Optional volume gain (in dB) of the normal native volume supported by the\nspecific voice, in the range [-96.0, 16.0]. If unset, or set to a value of\n0.0 (dB), will play at normal native signal amplitude. A value of -6.0 (dB)\nwill play at approximately half the amplitude of the normal native signal\namplitude. A value of +6.0 (dB) will play at approximately twice the\namplitude of the normal native signal amplitude. Strongly recommend not to\nexceed +10 (dB) as there's usually no effective increase in loudness for\nany value greater than that.",
                                "format": "double",
                                "type": "number"
                            }
                        },
                        "type": "object"
                    },
                    "input": {
                        "description": "Required. The Synthesizer requires either plain text or SSML as input.",
                        "properties": {
                            "ssml": {
                                "description": "The SSML document to be synthesized. The SSML document must be valid\nand well-formed. Otherwise the RPC will fail and return\ngoogle.rpc.Code.INVALID_ARGUMENT. For more information, see\n[SSML](/speech/text-to-speech/docs/ssml).",
                                "type": "string"
                            },
                            "text": {
                                "description": "The raw text to be synthesized.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "voice": {
                        "description": "Required. The desired voice of the synthesized audio.",
                        "properties": {
                            "languageCode": {
                                "description": "The language (and optionally also the region) of the voice expressed as a\n[BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag, e.g.\n\"en-US\". Required. This should not include a script tag (e.g. use\n\"cmn-cn\" rather than \"cmn-Hant-cn\"), because the script will be inferred\nfrom the input provided in the SynthesisInput.  The TTS service\nwill use this parameter to help choose an appropriate voice.  Note that\nthe TTS service may choose a voice with a slightly different language code\nthan the one selected; it may substitute a different region\n(e.g. using en-US rather than en-CA if there isn't a Canadian voice\navailable), or even a different language, e.g. using \"nb\" (Norwegian\nBokmal) instead of \"no\" (Norwegian)\".",
                                "type": "string"
                            },
                            "name": {
                                "description": "The name of the voice. Optional; if not set, the service will choose a\nvoice based on the other parameters such as language_code and gender.",
                                "type": "string"
                            },
                            "ssmlGender": {
                                "description": "The preferred gender of the voice. Optional; if not set, the service will\nchoose a voice based on the other parameters such as language_code and\nname. Note that this is only a preference, not requirement; if a\nvoice of the appropriate gender is not available, the synthesizer should\nsubstitute a voice with a different gender rather than failing the request.",
                                "enum": [
                                    "SSML_VOICE_GENDER_UNSPECIFIED",
                                    "MALE",
                                    "FEMALE",
                                    "NEUTRAL"
                                ],
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "SynthesizeSpeechResponse": {
                "description": "The message returned to the client by the `SynthesizeSpeech` method.",
                "properties": {
                    "audioContent": {
                        "description": "The audio data bytes encoded as specified in the request, including the\nheader (For LINEAR16 audio, we include the WAV header). Note: as\nwith all bytes fields, protobuffers use a pure binary representation,\nwhereas JSON representations use base64.",
                        "format": "byte",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Voice": {
                "description": "Description of a voice supported by the TTS service.",
                "properties": {
                    "languageCodes": {
                        "description": "The languages that this voice supports, expressed as\n[BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tags (e.g.\n\"en-US\", \"es-419\", \"cmn-tw\").",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "name": {
                        "description": "The name of this voice.  Each distinct voice has a unique name.",
                        "type": "string"
                    },
                    "naturalSampleRateHertz": {
                        "description": "The natural sample rate (in hertz) for this voice.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "ssmlGender": {
                        "description": "The gender of this voice.",
                        "enum": [
                            "SSML_VOICE_GENDER_UNSPECIFIED",
                            "MALE",
                            "FEMALE",
                            "NEUTRAL"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "VoiceSelectionParams": {
                "description": "Description of which voice to use for a synthesis request.",
                "properties": {
                    "languageCode": {
                        "description": "The language (and optionally also the region) of the voice expressed as a\n[BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag, e.g.\n\"en-US\". Required. This should not include a script tag (e.g. use\n\"cmn-cn\" rather than \"cmn-Hant-cn\"), because the script will be inferred\nfrom the input provided in the SynthesisInput.  The TTS service\nwill use this parameter to help choose an appropriate voice.  Note that\nthe TTS service may choose a voice with a slightly different language code\nthan the one selected; it may substitute a different region\n(e.g. using en-US rather than en-CA if there isn't a Canadian voice\navailable), or even a different language, e.g. using \"nb\" (Norwegian\nBokmal) instead of \"no\" (Norwegian)\".",
                        "type": "string"
                    },
                    "name": {
                        "description": "The name of the voice. Optional; if not set, the service will choose a\nvoice based on the other parameters such as language_code and gender.",
                        "type": "string"
                    },
                    "ssmlGender": {
                        "description": "The preferred gender of the voice. Optional; if not set, the service will\nchoose a voice based on the other parameters such as language_code and\nname. Note that this is only a preference, not requirement; if a\nvoice of the appropriate gender is not available, the synthesizer should\nsubstitute a voice with a different gender rather than failing the request.",
                        "enum": [
                            "SSML_VOICE_GENDER_UNSPECIFIED",
                            "MALE",
                            "FEMALE",
                            "NEUTRAL"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "access_token": {
                "description": "OAuth access token.",
                "in": "query",
                "name": "access_token",
                "schema": {
                    "type": "string"
                }
            },
            "alt": {
                "description": "Data format for response.",
                "in": "query",
                "name": "alt",
                "schema": {
                    "type": "string",
                    "enum": [
                        "json",
                        "media",
                        "proto"
                    ],
                    "default": "json"
                }
            },
            "callback": {
                "description": "JSONP",
                "in": "query",
                "name": "callback",
                "schema": {
                    "type": "string"
                }
            },
            "fields": {
                "description": "Selector specifying which fields to include in a partial response.",
                "in": "query",
                "name": "fields",
                "schema": {
                    "type": "string"
                }
            },
            "key": {
                "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                "in": "query",
                "name": "key",
                "schema": {
                    "type": "string"
                }
            },
            "oauth_token": {
                "description": "OAuth 2.0 token for the current user.",
                "in": "query",
                "name": "oauth_token",
                "schema": {
                    "type": "string"
                }
            },
            "prettyPrint": {
                "description": "Returns response with indentations and line breaks.",
                "in": "query",
                "name": "prettyPrint",
                "schema": {
                    "type": "boolean",
                    "default": true
                }
            },
            "quotaUser": {
                "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                "in": "query",
                "name": "quotaUser",
                "schema": {
                    "type": "string"
                }
            },
            "uploadType": {
                "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                "in": "query",
                "name": "uploadType",
                "schema": {
                    "type": "string"
                }
            },
            "upload_protocol": {
                "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                "in": "query",
                "name": "upload_protocol",
                "schema": {
                    "type": "string"
                }
            },
            "_.xgafv": {
                "description": "V1 error format.",
                "in": "query",
                "name": "$.xgafv",
                "schema": {
                    "type": "string",
                    "enum": [
                        "1",
                        "2"
                    ]
                }
            }
        },
        "securitySchemes": {
            "Oauth2": {
                "description": "Oauth 2.0 authentication",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
                        "scopes": {
                            "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services"
                        },
                        "tokenUrl": "https://www.googleapis.com/oauth2/v4/token"
                    }
                }
            }
        }
    }
}